[[source]]
url        = "https://pypi.org/simple"
verify_ssl = true
name       = "pypi"

[packages]
ansible         = "*"
ansible-builder = "*"
ansible-runner  = "*"
pyyaml          = "*"
requests        = "*"
rich            = "*"

[dev-packages]

[requires]

[scripts]
