[[source]]
url        = "https://pypi.org/simple"
verify_ssl = true
name       = "pypi"

[packages]
ansible         = "*"
ansible-builder = "*"
ansible-runner  = "*"
pyyaml          = "*"
requests        = "*"
rich            = "*"

[dev-packages]

[requires]

[scripts]
ansible-builder = "ansible-builder build -t ghcr.io/yamaoka-kitaguchi-lab/tn4-player:latest --verbosity 3 --context docker"
