[[source]]
url        = "https://pypi.org/simple"
verify_ssl = true
name       = "pypi"

[packages]
ansible      = "~=4.1"
pybatfish    = "*"
pyyaml       = "*"
requests     = "*"
gspread      = "*"
oauth2client = "*"
pynetbox     = "*"
paramiko     = "*"
ncclient     = "*"
openpyxl     = "*"
rich         = "*"
click        = "*"

[dev-packages]

[requires]
#python_version = "3.10"

[scripts]
develop   = 'ansible-playbook -vvvv --check --skip-tags overwrite,nondry site.yml'
render    = 'ansible-playbook -v --tags rendering site.yml'
dryrun    = 'ansible-playbook -v --check --skip-tags develop,overwrite,nondry site.yml'
migrate   = 'ansible-playbook -f 30 -v --tags migrate --skip-tags develop site.yml'
overwrite = 'ansible-playbook -f 30 -v --tags overwrite --skip-tags develop site.yml'
