{% for vlan in vlans %}
set vlans "{{ vlan.name }}" vlan-id {{ vlan.vid }}
{% endfor %}

set vlans "{{ mgmt_vlan.name }}" l3-interface irb.{{ mgmt_vlan.vid }}

{% for vlan in vlans if vlan.is_for_rspan %}
set vlans "{{ vlan.name }}" switch-options no-mac-learning
{% endfor %}
