{% include "./include/core/reset.j2" %}
{% include "./include/core/set-vlans.j2" %}

{% for parent, children in lag_members.items() %}
{% include "./include/core/set-interfaces-lacp.j2" %}
{% endfor %}

{% for interface in interfaces.values() %}
{% include "./include/core/set-interfaces.j2" %}

{% if interface.is_enabled %}
{% include "./include/core/set-interfaces-storm.j2" %}
{% include "./include/core/set-interfaces-filter.j2" %}
{% include "./include/core/set-interfaces-address.j2" %}
{% endif %}

{% include "./include/core/set-interfaces-vlan.j2" %}

{% endfor %}
