{% include "./include/vlan.j2" %}

{% for interface in interfaces.values() if interface.is_physical or interface.is_lag_parent %}
interface {{ interface.name }}
{% include "./include/interface.j2" %}

{% if interface.is_enabled %}
{% include "./include/interface-lldp.j2" %}
{% include "./include/interface-storm.j2" %}
{% include "./include/interface-speed.j2" %}
{% include "./include/interface-poe.j2" %}
{% include "./include/interface-vlan.j2" %}
{% else %}
{% include "./include/clear.j2" %}
{% endif %}

{% endfor %}
