{% for vlan in vlans %}
{% if not vlan.protected %}
vlan {{ vlan.vid }}
 name {{ vlan.name }}
{% endif %}
{% endfor %}
{% for interface, prop in interfaces.items() %}
{% if not prop.lag_member %}
interface {{ interface }}
{% if prop.enabled %}
 no shutdown
{% else %}
 shutdown
{% endif %}
{% if prop.description %}
 description {{ prop.description }}
{% else %}
 no description
{% endif %}
{% if prop.trunk_all %}
 switchport mode trunk
{% elif prop.vlan_mode == "access" %}
 switchport mode access
 switchport access vlan {{ prop.vids[0] }}
{% elif prop.vlan_mode == "trunk" %}
 switchport mode trunk
{% for removed_vids in prop.removed_vids %}
 switchport trunk allowed vlan remove {{ removed_vids | join(',') }}
{% endfor %}
 switchport trunk allowed vlan add {{ prop.vids | join(',') }}
{% else %}
 no switchport
 switchport
{% endif %}
{% if prop.native_vid %}
 switchport trunk allowed vlan remove {{ prop.native_vid }}
 switchport trunk native vlan {{ prop.native_vid }}
{% else %}
 no switchport trunk native vlan
{% endif %}
{% if prop.physical and prop.poe %}
 power inline auto
{% endif %}
{% endif %}
{% endfor %}