{% for vlan in vlans %}
{% if not vlan.is_protected %}
vlan {{ vlan.vid }}
 name {{ vlan.name }}
{% endif %}
{% endfor %}

{% for interface in interfaces.values() if interface.is_physical %}
interface {{ interface.name }}

{% if interface.description %}
 description {{ interface.description }}
{% else %}
 no description
{% endif %}

{% if interface.is_phy_uplink or interface.is_physical and interface.is_to_ap %}
 lldp transmit
 lldp receive
{% elif interface.is_physical %}
 no lldp transmit
 no lldp receive
{% endif %}

{% if not interface.is_enabled %}
 shutdown
 no switchport
 no ip address
{% if interface.is_utp %}
 speed auto
 power inline never
{% endif %}

{% else %}
 no shutdown

{% if interface.is_upstream or interface.is_physical and interface.is_to_ap %}
 no storm-control broadcast level
 no storm-control multicast level
 no storm-control unicast level
{% elif not interface.is_lag_member %}
 storm-control broadcast level bps 3000000
 storm-control multicast level bps 3000000
 no storm-control unicast level
{% endif %}

{% if interface.is_physical and not interface.is_phy_uplink %}
{% if interface.is_10mbps %}
 speed 10
{% elif interface.is_100mbps %}
 speed 100
{% elif interface.is_1gbps %}
 speed 1000
{% else %}
 speed auto
{% endif %}

{% if interface.is_poe %}
 power inline auto
{% else %}
 power inline never
{% endif %}
{% endif %}

{% if not interface.is_phy_uplink %}
{% if interface.is_trunk_all %}
 switchport
 switchport mode trunk
{% elif interface.vlan_mode == "access" %}
 switchport
 switchport mode access
 switchport access vlan {{ interface.all_vids[0] }}
 no switchport trunk allowed vlan
{% elif interface.vlan_mode == "trunk" %}
 switchport
 switchport mode trunk
{% for absent_vids in interface.absent_vids %}
 switchport trunk allowed vlan remove {{ absent_vids | join(',') }}
{% endfor %}
 switchport trunk allowed vlan add {{ interface.all_vids | join(',') }}
{% else %}
 no switchport
{% endif %}

{% if interface.native_vid %}
 switchport trunk native vlan {{ interface.native_vid }}
{% else %}
 no switchport trunk native vlan
{% endif %}

{% elif interface.is_physical_uplink %}
 switchport
 switchport mode trunk
{% endif %}

{% endif %}
{% endfor %}
