delete vlans

{% for interface in interfaces.values() if interface.is_physical or interface.is_lag_parent %}
delete interfaces {{ interface.name }} unit 0
{% endfor %}

{% for vid in range(1,4095) %}
{% if "irb."+str(vid) %}
delete interfaces irb unit {{ vid }}
{% endfor %}

set protocols lldp interface all

