delete vlans

{% for interface in interfaces.values() if interface.is_physical or interface.is_lag_parent %}
delete interfaces {{ interface.name }} unit 0
{% endfor %}

{% for unit in unprotected_irb_units %}
delete interfaces irb unit {{ unit }}
{% endfor %}

set protocols lldp interface all

