{% if interface.is_physical or interface.is_lag_parent %}
set interfaces {{ interface.name }} {{ "enable" if interface.is_enabled else "disable" }}

{% if interface.description %}
set interfaces {{ interface.name }} description "{{ interface.description }}"
{% else %}
delete interfaces {{ interface.name }} description
{% endif %}

{% if interface.mtu %}
set interfaces {{ interface.name }} mtu {{ interface.mtu }}
{% else %}
delete interfaces {{ interface.name }} mtu
{% endif %}

{% endif %}
