{% if interface.is_physical and not interface.is_lag_member or interface.is_lag_parent %}
set interfaces {{ interface.name }} unit 0 family ethernet-switching filter input-list CDP
set interfaces {{ interface.name }} unit 0 family ethernet-switching filter output-list CDP
set interfaces {{ interface.name }} unit 0 family ethernet-switching filter input-list DEFAULT
set interfaces {{ interface.name }} unit 0 family ethernet-switching filter output-list DEFAULT

{% if interface.is_bpdu_filtered %}
set interfaces {{ interface.name }} unit 0 family ethernet-switching filter input-list BPDU
set interfaces {{ interface.name }} unit 0 family ethernet-switching filter output-list BPDU
{% endif %}

{% endif %}

