delete vlans

{% for vlan in vlans %}
{% if vlan.used %}
set vlans "{{ vlan.name }}" vlan-id {{ vlan.vid }}
{% if vlan.irb %}
set vlans "{{ vlan.name }}" l3-interface irb.{{ vlan.vid }}
{% endif %}
{% endif %}
{% endfor %}

{% for interface, prop in interfaces.items() %}
set interfaces {{ interface }} {{ "enable" if prop.enabled else "disable" }}
{% if "description" in prop and prop.description %}
set interfaces {{ interface }} description "{{ prop.description }}"
{% else %}
delete interfaces {{ interface }} description
{% endif %}
{% if prop.vlan_mode and prop.vids or prop.trunk_all %}
delete interfaces {{ interface }} unit 0
set interfaces {{ interface }} unit 0 family ethernet-switching interface-mode {{ prop.vlan_mode }}
{% if prop.trunk_all %}
set interfaces {{ interface }} unit 0 family ethernet-switching vlan members all
{% else %}
{% for vid in prop.vids %}
set interfaces {{ interface }} unit 0 family ethernet-switching vlan members {{ vid }}
{% endfor %}
{% endif %}
{% if prop.native_vid %}
set interfaces {{ interface }} native-vlan-id {{ prop.native_vid }}
{% endif %}
{% else %}
delete interfaces {{ interface }} unit 0
{% endif %}
{% endfor %}