delete vlans
{% for interface, prop in interfaces.items() %}
{% if not prop.skip_delete %}
delete interfaces {{ interface }}
delete poe interface {{ interface }}
{% endif %}
{% endfor %}

set vlans default vlan-id 1
set vlans default l3-interface irb.0
set vlans "{{ mgmt_vlan.name }}" vlan-id {{ mgmt_vlan.vid }}
set vlans "{{ mgmt_vlan.name }}" l3-interface irb.{{ mgmt_vlan.vid }}
{% for vlan in vlans %}
{% if vlan.used %}
set vlans "{{ vlan.name }}" vlan-id {{ vlan.vid }}
{% endif %}
{% endfor %}

{% for parent, childlen in lag_members.items() %}
set interfaces {{ parent }} aggregated-ether-options lacp active
{% for child in childlen %}
set interfaces {{ child }} ether-options 802.3ad {{ parent }}
{% endfor %}
{% endfor %}

{% for interface, prop in interfaces.items() %}
set interfaces {{ interface }} {{ "enable" if prop.enabled else "disable" }}
{% if prop.description %}
set interfaces {{ interface }} description "{{ prop.description }}"
{% endif %}

{% if prop.physical and not prop.lag_member %}
set interfaces {{ interface }} unit 0 family ethernet-switching storm-control default

{% if prop.auto_speed %}
set interfaces {{ interface }} ether-options auto-negotiation
{% else %}
set interfaces {{ interface }} speed {{ prop.speed }}
{% endif %}

{% if prop.poe %}
set poe interface {{ interface }}
{% endif %}
{% endif %}

{% if prop.vlan_mode %}
set interfaces {{ interface }} unit 0 family ethernet-switching interface-mode {{ prop.vlan_mode }}
{% if prop.trunk_all %}
set interfaces {{ interface }} unit 0 family ethernet-switching vlan members all
{% else %}
{% for vid in prop.vids %}
set interfaces {{ interface }} unit 0 family ethernet-switching vlan members {{ vid }}
{% endfor %}
{% endif %}
{% endif %}

{% if prop.native_vid %}
set interfaces {{ interface }} native-vlan-id {{ prop.native_vid }}
{% endif %}
{% endfor %}