delete vlans

{% for vlan in vlans %}
set vlans "{{ vlan.name }}" vlan-id {{ vlan.vid }}
{% if vlan.is_for_irb %}
set vlans "{{ vlan.name }}" l3-interface irb.{{ vlan.vid }}
{% endif %}
{% if vlan.is_for_rspan %}
set vlans "{{ vlan.name }}" vlan-id {{ vlan.vid }}
set vlans "{{ vlan.name }}" switch-options no-mac-learning
{% endif %}
{% endfor %}

{% for interface in interfaces.values() if interface.is_physical or interface.is_lag_parent %}
set interfaces {{ interface.name }} {{ "enable" if interface.enabled else "disable" }}

{% if "description" in interface and interface.description %}
set interfaces {{ interface.name }} description "{{ interface.description }}"
{% else %}
delete interfaces {{ interface.name }} description
{% endif %}

{% if not interface.lag_member and interface.bpdu_filter %}
set interfaces {{ interface.name }} unit 0 family ethernet-switching filter input-list BPDU
set interfaces {{ interface.name }} unit 0 family ethernet-switching filter output-list BPDU
{% endif %}

{% if interface.vlan_mode and interface.all_vids or interface.is_trunk_all %}
delete interfaces {{ interface.name }} unit 0
set interfaces {{ interface.name }} unit 0 family ethernet-switching interface-mode {{ interface.vlan_mode }}

{% if interface.is_trunk_all %}
set interfaces {{ interface.name }} unit 0 family ethernet-switching vlan members all
{% else %}
{% for vid in interface.all_vids %}
set interfaces {{ interface.name }} unit 0 family ethernet-switching vlan members {{ vid }}
{% endfor %}
{% endif %}

{% if interface.native_vid %}
set interfaces {{ interface.name }} native-vlan-id {{ interface.native_vid }}
{% endif %}

{% else %}
delete interfaces {{ interface.name }} unit 0
{% endif %}


{% if interface.addresses4 %}
delete interfaces {{ interface.name }} unit 0 family inet
{% for ip in interface.addresses4 %}
set interfaces {{ interface.name }} unit 0 family inet address {{ ip }}
{% endfor %}
{% endif %}

{% if interface.addresses6 %}
delete interfaces {{ interface.name }} unit 0 family inet6
{% for ip in interface.addresses6 %}
set interfaces {{ interface.name }} unit 0 family inet6 address {{ ip }}
{% endfor %}
{% endif %}

{% endfor %}
