delete vlans
{% for interface in interfaces.values() %}
{% if not interface.is_upstream and not interface.is_irb and not interface.is_rspan %}
delete interfaces {{ interface.name }}
delete poe interface {{ interface.name }}
{% endif %}
{% endfor %}

set vlans default vlan-id 1
set vlans default l3-interface irb.0
set vlans "{{ mgmt_vlan.name }}" vlan-id {{ mgmt_vlan.vid }}
set vlans "{{ mgmt_vlan.name }}" l3-interface irb.{{ mgmt_vlan.vid }}

{% for vlan in vlans %}
set vlans "{{ vlan.name }}" vlan-id {{ vlan.vid }}
{% if vlan.is_for_rspan %}
set vlans "{{ vlan.name }}" vlan-id {{ vlan.vid }}
set vlans "{{ vlan.name }}" switch-options no-mac-learning
{% endif %}
{% endfor %}

{% for parent, childlen in lag_members.items() %}
set interfaces {{ parent }} aggregated-ether-options lacp active
{% for child in childlen %}
set interfaces {{ child }} ether-options 802.3ad {{ parent }}
{% endfor %}
{% endfor %}

set protocols lldp interface all disable

{% for interface in interfaces.values() if not interface.is_irb %}
set interfaces {{ interface.name }} {{ "enable" if interface.is_enabled else "disable" }}
{% if interface.is_enabled or not interface.is_enabled %}
{% if interface.description %}
set interfaces {{ interface.name }} description "{{ interface.description }}"
{% endif %}
{% if interface.is_upstream or interface.is_to_ap %}
set protocols lldp interface {{ interface.name }}
{% endif %}
{% if not interface.is_lag_member %}
{% if interface.is_physical %}
{% if interface.is_10mbps %}
set interfaces {{ interface.name }} speed 10m
{% elif interface.is_100mbps %}
set interfaces {{ interface.name }} speed 100m
{% elif interface.is_1gbps %}
set interfaces {{ interface.name }} speed 1g
{% elif interface.is_10gbps %}
set interfaces {{ interface.name }} speed 10g
{% else %}
set interfaces {{ interface.name }} ether-options auto-negotiation
{% endif %}
{% if interface.is_poe %}
set poe interface {{ interface.name }}
{% endif %}
{% endif %}
{% if not interface.is_upstream %}
set interfaces {{ interface.name }} unit 0 family ethernet-switching storm-control "storm3M"
set interfaces {{ interface.name }} unit 0 family ethernet-switching filter input-list CDP
set interfaces {{ interface.name }} unit 0 family ethernet-switching filter output-list CDP
set interfaces {{ interface.name }} unit 0 family ethernet-switching filter input-list BPDU
set interfaces {{ interface.name }} unit 0 family ethernet-switching filter output-list BPDU
set interfaces {{ interface.name }} unit 0 family ethernet-switching filter input-list DEFAULT
set interfaces {{ interface.name }} unit 0 family ethernet-switching filter output-list DEFAULT
{% endif %}
{% endif %}

{% if interface.vlan_mode %}
set interfaces {{ interface.name }} unit 0 family ethernet-switching interface-mode {{ interface.vlan_mode }}
{% if interface.is_trunk_all %}
set interfaces {{ interface.name }} unit 0 family ethernet-switching vlan members all
{% else %}
{% for vid in interface.all_vids %}
set interfaces {{ interface.name }} unit 0 family ethernet-switching vlan members {{ vid }}
{% endfor %}
{% endif %}
{% endif %}
{% if interface.native_vid %}
set interfaces {{ interface.name }} native-vlan-id {{ interface.native_vid }}
{% endif %}
{% endif %}
{% endfor %}
